<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openclassrooms.realestatemanager"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To request foreground location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".RealEstateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.RealEstateManager">
        <activity android:name=".ui.realEstate.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.create.CreateRealEstateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.details.DetailsActivity" />
        <activity android:name=".ui.update.UpdateActivity" />
        <activity android:name=".ui.loan.LoanActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:authorities="com.openclassrooms.realestatemanager.domain.provider"
            android:name=".domain.provider.RealEstateContentProvider"
            android:exported="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBD5CWCujhWa9sCDQPHrGFnJUfF0MnFtY4"/>



</application>


</manifest>